.card_title h1{
    font-weight: 600 !important;
    color: rgb(0, 0, 0) !important;
  }
  

    .setting-box h5{
        width: 230px;
    }
    .custom-switch {
        padding-left: 1.25rem; 
    }
    
    .custom-switch label::before {
        width: 2.25rem; 
    }


    .custom-control{
        transform: scale(2);
        margin: 5px 2px 5px 30px;
    }
    .setting-box{
        padding: 10px 20px;
    }