<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NomadicHornets</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/8cb19e38e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../styles/animations.css">
    <link rel="stylesheet" href="../../styles/themplate.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

</head>
<body>
    <header>
       
                <div class="top_info align-items-baseline  d-flex flex-row justify-content-between">
                    <div></div>
                    <div id="normalnav" class="navbar_container">
                      <div class="hamburger">
                            <input type="checkbox" id="active">
                          <label for="active" class="menu-btn"><span></span></label>
                          <label for="active" class="close"></label>
                          <div class="wrapper d-flex flex-column justify-content-center align-items-center">
                            
                      <a  href="../../index.php">Home</a>
                      <a href="../Blog/blog.php">Blog</a>
                      <a href="../About/about.html">O nás</a>
                      <a href="../Photogallery/gallery.php">Fotogalerie</a>
                      
                  </div>
                      </div>
                      <nav class="navbar navbar-expand-lg " id="custom-navbar">
                        <div class="container-fluid">
                            <button class="navbar-toggler hamburger-menu" type="button" aria-expanded="false" aria-label="Toggle navigation">
                                <div class="menu-icon"></div>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link " href="../../index.php">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../Blog/blog.php">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="../About/about.html">O nás</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../Photogallery/gallery.php">Fotogalerie</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </nav>
                    
                    
                    </div>
                    <div id="scrollernav" class="d-none fixed-top  fade-top scnav">
                        <div class="d-flex flex-row fix_nav justify-content-center align-items-center ">
                            
                                <a class="nav-link" href="../../index.php">Home</a>
                            
                                <a class="nav-link" href="../Blog/blog.php">Blog</a>
                            
                                <a class=" nav-link" href="../About/about.html">O nás</a>
                            
                                <a class="nav-link" href="../Photogallery/gallery.php">Fotogalerie</a>
                            
                            
                        </div>
                        
                    </div>
                      
                </div>
                
                
            
        
    </header>
    <main>
        <div class="text text-left">
          <h1 class="text-center">Zásady ochrany osobních údajů</h1>

<h2 class="text-center">I. Základní ustanovení</h2>
<p>1. Správcem osobních údajů podle čl. 4 bod 7 nařízení Evropského parlamentu a Rady (EU) 2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů (dále jen: „GDPR”) je ……. IČ ……se sídlem….. (dále jen: „správce“).</p>
<p>2. Kontaktní údaje správce jsou
  adresa: Adresa
  email: <a href="mailto:hornets@hornets.cz">hornets@hornets.cz</a>
  telefon: 520 420 320</p>
<p>3. Osobními údaji se rozumí veškeré informace o identifikované nebo identifikovatelné fyzické osobě; identifikovatelnou fyzickou osobou je fyzická osoba, kterou lze přímo či nepřímo identifikovat, zejména odkazem na určitý identifikátor, například jméno, identifikační číslo, lokační údaje, síťový identifikátor nebo na jeden či více zvláštních prvků fyzické, fyziologické, genetické, psychické, ekonomické, kulturní nebo společenské identity této fyzické osoby.
</p>
<p>4. Správce nejmenoval / jmenoval pověřence pro ochranu osobních údajů. Kontaktními údaji pověřence jsou:
</p>

<h2 class="text-center">II. Zdroje a kategorie zpracovávaných osobních údajů</h2>
<p>1. Správce zpracovává osobní údaje, které jste mu poskytl/a nebo osobní údaje, které správce získal na základě plnění Vaší objednávky.
2. Správce zpracovává Vaše identifikační a kontaktní údaje a údaje nezbytné pro plnění smlouvy.
</p>

<h2 class="text-center">III. Zákonný důvod a účel zpracování osobních údajů</h2>
<p>1. Zákonným důvodem zpracování osobních údajů je
•	plnění smlouvy mezi Vámi a správcem podle čl. 6 odst. 1 písm. b) GDPR,
•	oprávněný zájem správce na poskytování přímého marketingu (zejména pro zasílání obchodních sdělení a newsletterů) podle čl. 6 odst. 1 písm. f) GDPR,
•	Váš souhlas se zpracováním pro účely poskytování přímého marketingu (zejména pro zasílání obchodních sdělení a newsletterů) podle čl. 6 odst. 1 písm. a) GDPR ve spojení s § 7 odst. 2 zákona č. 480/2004 Sb., o některých službách informační společnosti v případě, že nedošlo k objednávce zboží nebo služby.
2. Účelem zpracování osobních údajů je
•	vyřízení Vaší objednávky a výkon práv a povinností vyplývajících ze smluvního vztahu mezi Vámi a správcem;
•	zasílání obchodních sdělení a činění dalších marketingových aktivit.
3. Ze strany správce nedochází / dochází k automatickému individuálnímu rozhodování ve smyslu čl. 22 GDPR. S takovým zpracováním jste poskytl/a svůj výslovný souhlas.
</p>

<h2 class="text-center">IV. Doba uchovávání údajů</h2>
<p>1. Správce uchovává osobní údaje
•	po dobu nezbytnou k výkonu práv a povinností vyplývajících ze smluvního vztahu mezi Vámi a správcem a uplatňování nároků z těchto smluvních vztahů (po dobu 15 let od ukončení smluvního vztahu).
•	po dobu, než je odvolán souhlas se zpracováním osobních údajů pro účely marketingu, nejdéle ….  let, jsou-li osobní údaje zpracovávány na základě souhlasu.
2. Po uplynutí doby uchovávání osobních údajů správce osobní údaje vymaže.
</p>

<h2 class="text-center">V. Příjemci osobních údajů (subdodavatelé správce)</h2>
<p>1. Příjemci osobních údajů jsou osoby
•	podílející se na dodání zboží / služeb / realizaci plateb na základě smlouvy,
•	podílející se na zajištění provozu služeb,
•	zajišťující marketingové služby.
2. Správce nemá / má v úmyslu předat osobní údaje do třetí země (do země mimo EU) nebo mezinárodní organizaci. Příjemci osobních údajů ve třetích zemích jsou poskytovatelé mailingových služeb / cloudových služeb.
</p>

<h2 class="text-center">VI. Vaše práva</h2>
<p>1. Za podmínek stanovených v GDPR máte
•	právo na přístup ke svým osobním údajům dle čl. 15 GDPR,
•	právo opravu osobních údajů dle čl. 16 GDPR, popřípadě omezení zpracování dle čl. 18 GDPR.
•	právo na výmaz osobních údajů dle čl. 17 GDPR.
•	právo vznést námitku proti zpracování dle čl. 21 GDPR a
•	právo na přenositelnost údajů dle čl. 20 GDPR.
•	právo odvolat souhlas se zpracováním písemně nebo elektronicky na adresu nebo email správce uvedený v čl. III těchto podmínek.
2. Dále máte právo podat stížnost u Úřadu pro ochranu osobních údajů v případě, že se domníváte, že bylo porušeno Vaší právo na ochranu osobních údajů.
</p>

<h2 class="text-center">VII. Podmínky zabezpečení osobních údajů</h2>
<p>1. Správce prohlašuje, že přijal veškerá vhodná technická a organizační opatření k zabezpečení osobních údajů.
2. Správce přijal technická opatření k zabezpečení datových úložišť a úložišť osobních údajů v listinné podobě, zejména …
3. Správce prohlašuje, že k osobním údajům mají přístup pouze jím pověřené osoby.
</p>

<h2 class="text-center">VIII. Závěrečná ustanovení</h2>
<p>1. Odesláním objednávky z internetového objednávkového formuláře potvrzujete, že jste seznámen/a s podmínkami ochrany osobních údajů a že je v celém rozsahu přijímáte.
2. S těmito podmínkami souhlasíte zaškrtnutím souhlasu prostřednictvím internetového formuláře. Zaškrtnutím souhlasu potvrzujete, že jste seznámen/a s podmínkami ochrany osobních údajů a že je v celém rozsahu přijímáte.
3. Správce je oprávněn tyto podmínky změnit. Novou verzi podmínek ochrany osobních údajů zveřejní na svých internetových stránkách, případně Vám zašle novou verzi těchto podmínek na e-mailovou adresu, kterou jste správci poskytl/a.</p>

<p>Tyto podmínky nabývají účinnosti dnem 25.5.2023.</p>
        </div>
    </main>
    <footer>
        <div class="footer_content">
          <div class="footer_menu flex-lg-row d-flex flex-column">
            
            <a class="nav-link" href="../../index.php">Home</a>
                          
            <a class="nav-link" href="../Blog/blog.php">Blog</a>
        
            <a class="nav-link" href="../About/about.html">O nás</a>
        
            <a class="nav-link" href="../Photogallery/gallery.php">Fotogalerie</a>
        
  
            <a class="nav-link" href="zasady.html">Zásady ochrany osobních údajů</a>
        
          </div>
          <div class="d-flex flex-column justify-content-center container-fluid align-items-center">
            <h2  class="text-center">
              Copyright 2024 © NomadicHornets
            </h2>
            <h3>
              Tvůrce webu: <a target="_blank" href="https://www.wdkorba.cz/">Korba Lukáš</a>
            </h3>
          </div>
        </div>
      </footer>

      <script src="../../js/navVisibility.js"></script>
    <script src="../../js/reveal.js"></script>
    <script src="js/wordDisplayer.js"></script>
    <script src="../../js/img.js"></script>
    <script src="../../js/hamburgerMenu.js"></script>
</body>
</html>