<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NomadicHornets</title>
    <link rel="stylesheet" href="styles/about.css">
    <script src="https://kit.fontawesome.com/8cb19e38e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../styles/animations.css">
    <link rel="stylesheet" href="../../styles/themplate.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

</head>
<body>
    <header>
        <div class="bg_pic">
            <div class="black_opacity">
                <div class="top_info align-items-baseline  d-flex flex-row justify-content-between">
                  <div class="social">
                    <ul>
                        <li>
                          <a class="facebook" target="_blank" href="https://www.facebook.com/">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a class="twitter" target="_blank" href="https://twitter.com/">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa-brands fa-x-twitter"></i>
                          </a>
                        </li>
                        
                        <li>
                          <a class="google" target="_blank" href="https://www.google.cz/">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                </div>
                    <div id="normalnav" class="navbar_container">
                      <div class="hamburger">
                            <input type="checkbox" id="active">
                          <label for="active" class="menu-btn"><span></span></label>
                          <label for="active" class="close"></label>
                          <div class="wrapper d-flex flex-column justify-content-center align-items-center">
                            
                      <a  href="../../index.php">Home</a>
                      <a href="../Blog/blog.php">Blog</a>
                      <a href="about.html">O nás</a>
                      <a href="../Photogallery/gallery.php">Fotogalerie</a>
                      
                  </div>
                      </div>
                      <nav class="navbar navbar-expand-lg " id="custom-navbar">
                        <div class="container-fluid">
                            <button class="navbar-toggler hamburger-menu" type="button" aria-expanded="false" aria-label="Toggle navigation">
                                <div class="menu-icon"></div>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link " href="../../index.php">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../Blog/blog.php">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="about.html">O nás</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../Photogallery/gallery.php">Fotogalerie</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </nav>
                    
                    
                    </div>
                    <div id="scrollernav" class="d-none fixed-top  fade-top scnav">
                        <div class="d-flex flex-row fix_nav justify-content-center align-items-center ">
                            
                                <a class="nav-link" href="../../index.php">Home</a>
                            
                                <a class="nav-link" href="../Blog/blog.php">Blog</a>
                            
                                <a class="active  nav-link" href="about.html">O nás</a>
                            
                                <a class="nav-link" href="../Photogallery/gallery.php">Fotogalerie</a>
                            
                            
                        </div>
                        
                    </div>
                        <div class="d-none searchBox">
                            <input class="searchInput"type="text" name="" placeholder="Search">
                            <button class="searchButton" href="#">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                </div>
                <div>
                </div>
                
                    <div class="textWrapper d-flex w-100 pl-4 pr-2 h-50 justify-content-center align-items-center">
                        <h1 id="sentenceDisplay"></h1>
                    </div>
                
            </div>
        </div>
        
    </header>
    <main>
        <div class="title_header ">
            <h2 class="section_title reveal fade-bottom">Jsme srdcem i duší cestovatelé, rodina plná odvahy a nadšení, která se nebojí vyrazit za dobrodružstvím do vzdálených zemí i těch skrytých koutů naší vlasti, abychom prožili nezapomenutelná dobrodružství společně s našimi dětmi.</h2>
          
        </div>
        <section class="gallery_undertitle mb-5 mt-3">
          <div class="d-flex justify-content-center mt-b">
              <div class="reveal fade-left after_section d-flex flex-md-row flex-column align-item-md-center align-items-center justify-content-end justify-content-md-center">
                <p class="mr-5 ">Kde všude jsme byli?</p>
                <a href="../../index.php#mapka"><button class="red_styled_btn mt-md-0 mt-3">Podívat se</button></a>
              </div>
            </div>
          </section>
        
        <section class="underimgabout">
          <div class="underwrapperabout">
            <section class="green_box  d-flex flex-row justify-content-center">
              <div class="green_box_body reveal fade-bottom">
                  <h5>Jak to všechno začalo</h5>
                  <p>Před několika lety začal náš příběh nevinným rozhodnutím - opustit pohodlnou zónu a začít objevovat krásy světa. My, malá rodina, jsme se rozhodli prozkoumat neznámé destinace a sdílet naše dojmy s ostatními. Začalo to jako odvážný krok několika dobrodruhů, kteří se nebojí výzev.</p>
                      <p>
                          Naše cestovatelská vášeň brzy vyústila v myšlenku vytvořit blog, kde můžeme sdílet naše zážitky, tipy a příběhy z cest. Začali jsme psát o malebných městech, dobrodružných trekech a kulinářských objevech. Fotografie, které zachycují krásu cizí kultury a scenérie, se staly nedílnou součástí naší digitální cestovatelské kroniky.
                          </p>
                     <p> S postupem času se naše rodina rozrostla, a přestože mnoho lidí tvrdí, že cestování s dětmi je nemožné, rozhodli jsme se, že naše dobrodružství bude pokračovat. Blog se stal nejen záznamem našich dobrodružství, ale i inspirací pro další cestovatele, kteří hledají odvahu prozkoumat svět s rodinou na palubě. Přidejte se k nám na naší cestě plné radosti, objevování a nezapomenutelných chvilek! ✈️🌍
                  </p>
                      </div>
              
          </section>
          </div>
        </section>
        
    </main>
    <footer>
        <div class="footer_content">
          <div class="footer_menu flex-lg-row d-flex flex-column">
            
            <a class="nav-link" href="../../index.php">Home</a>
                          
            <a class="nav-link" href="../Blog/blog.php">Blog</a>
        
            <a class="nav-link" href="about.html">O nás</a>
        
            <a class="nav-link" href="../Photogallery/gallery.php">Fotogalerie</a>
        
  
            <a class="nav-link" href="../Legal/zasady.html">Zásady ochrany osobních údajů</a>
        
          </div>
          <div class="social d-flex justify-content-center mt-5">
            <ul>
                <li>
                  <a class="facebook" target="_blank" href="https://www.facebook.com/">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a class="twitter" target="_blank" href="https://twitter.com/">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa-brands fa-x-twitter"></i>
                  </a>
                </li>
                
                <li>
                  <a class="google" target="_blank" href="https://www.google.cz/">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
        </div>
          <div class="d-flex flex-column justify-content-center container-fluid align-items-center">
            <h2  class="text-center">
              Copyright 2024 © NomadicHornets
            </h2>
            <h3>
              Tvůrce webu: <a target="_blank" href="https://www.wdkorba.cz/">Korba Lukáš</a>
            </h3>
          </div>
        </div>
      </footer>

      <script src="../../js/navVisibility.js"></script>
    <script src="../../js/reveal.js"></script>
    <script src="js/wordDisplayer.js"></script>
    <script src="../../js/img.js"></script>
    <script src="../../js/hamburgerMenu.js"></script>
</body>
</html>